.App {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.title {
  margin: 20px 0px;
  font-size: 24px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


input {
  display: inline-block;
  height: 30px;
  padding-left: 10px;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input:focus {
  outline: 0;
}

.add-btn  {
  margin-top: 10px;
  height: 30px;
  padding: 5px 10px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 15px;
  border-radius: 5px;
  background-color: green;
  color: white;
}

.clear-btn  {
  height: 30px;
  padding: 5px 10px;
  border: 1px solid black;
  cursor: pointer;
  margin-top: 50px;
  font-size: 15px;
  border-radius: 5px;
  background-color: #ff0000;
  color: white;
}

.add-btn:hover {
  background-color: #1c6805;
}

.add-btn:focus, .clear-btn:focus {
  outline: 0;
}


.todos-list {
  list-style-type: none;
  width: 80%;
  margin: 40px auto 0px auto;
}

.todos-list li {
  padding: 10px 0px;
  margin-bottom: -1px;
  border: 1px dotted #ccc;
  display: flex;
  flex-direction: row;
  line-height: 30px;
}

.todos-list li:hover {
  background-color: #fafafa;
}


.todos-list-text {
  text-align: left;
  margin-left: 20px;
  flex: 5;
}

.delete-btn {
  font-size: 20px;
  color: red;
  flex: 1;
}

.delete-btn:hover {
  cursor: pointer;
}


@media (min-width: 556px) {

  form {
    width: 70%;
    margin: 0px auto;
  }

}

@media (min-width: 768px) {

  .todos-list {
    width: 60%;
  }

  form {
    width: 50%;
  }

  .add-btn {
    width: 50%;
    margin: 0px auto;
    margin-top: 10px;
  }

}